* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: whitesmoke;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

/* header */
nav {
  background-color: #9900f0;
}

.navbar-brand {
  color: white;
}

/* end of header */

/* input card */
.card-header {
  background-color: #9800f0;
  color: white;
}
/* end of input card */

/* bookshelf card */
.tab_box {
  max-height: 80vh;
  overflow: auto;
}
/* end of bookshelf card */

/* utilities */
.btn-primary {
  background-color: #9800f0;
  border: none;
}

.btn-primary:hover {
  background-color: #7c00c4;
}

.btn-primary:focus {
  background-color: #7c00c4;
}

.nav-link {
  color: #9800f0;
}

.nav-link:hover {
  color: #7c00c4;
}

.nav-link:focus {
  color: #7c00c4;
}

.socmed {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-purple {
  background-color: #9800f0;
}

.modal-title {
  color: white;
}

/* footer */
footer {
  background-color: #161616;
  color: whitesmoke;
  margin-top: auto;
}

.social_section {
  background-color: #161616;
}
/* end of footer */
